
volumes:
  postgres_data:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:15-alpine
    container_name: boreas_db
    environment:
      POSTGRES_DB: boreas_db
      POSTGRES_USER: boreas_user
      POSTGRES_PASSWORD: boreas_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U boreas_user"]
      interval: 10s
      timeout: 5s
      retries: 5
  # Airflow Webserver
  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: boreas_airflow_web
    command: ["/opt/airflow/airflow-entrypoint.sh", "airflow", "webserver"]
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - AIRFLOW_HOME=/opt/airflow
      - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://boreas_user:boreas_password@db:5432/boreas_db
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__DEFAULT_TIMEZONE=Europe/Madrid
      - AIRFLOW__CORE__DEFAULT_UI_TIMEZONE=Europe/Madrid
      - AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE=Europe/Madrid
      - DJANGO_SETTINGS_MODULE=boreas_mediacion.settings
      - DJANGO_DATABASE_URL=${DATABASE_URL}
      - AEMET_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhbG9uc29ncGFibG9AZ21haWwuY29tIiwianRpIjoiOTE4MzQ4MTItYTUwMC00NGMwLWExYjAtYTllNmIyMzgxNmRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3NjkzNDMzMzEsInVzZXJJZCI6IjkxODM0ODEyLWE1MDAtNDRjMC1hMWIwLWE5ZTZiMjM4MTZkZSIsInJvbGUiOiIifQ.u6jZlTamG3za-kHeyuHdQ9W0m1dQsbeAE00ZW_h-LdI
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./boreas_mediacion:/app
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: boreas_airflow_scheduler
    command: ["/opt/airflow/airflow-entrypoint.sh", "airflow", "scheduler"]
    env_file:
      - .env
    environment:
      - AIRFLOW_HOME=/opt/airflow
      - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://boreas_user:boreas_password@db:5432/boreas_db
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__DEFAULT_TIMEZONE=Europe/Madrid
      - AIRFLOW__CORE__DEFAULT_UI_TIMEZONE=Europe/Madrid
      - AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE=Europe/Madrid
      - DJANGO_SETTINGS_MODULE=boreas_mediacion.settings
      - DJANGO_DATABASE_URL=${DATABASE_URL}
      - AEMET_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhbG9uc29ncGFibG9AZ21haWwuY29tIiwianRpIjoiOTE4MzQ4MTItYTUwMC00NGMwLWExYjAtYTllNmIyMzgxNmRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3NjkzNDMzMzEsInVzZXJJZCI6IjkxODM0ODEyLWE1MDAtNDRjMC1hMWIwLWE5ZTZiMjM4MTZkZSIsInJvbGUiOiIifQ.u6jZlTamG3za-kHeyuHdQ9W0m1dQsbeAE00ZW_h-LdI
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./boreas_mediacion:/app
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
