version: '3.7'
services:
  go_mqtt:
    build:
      context: ../go_mqtt
    environment:
      - MQTT_BROKER=mqtt.solutions-iot.es
      - MQTT_USERNAME=boreas
      - MQTT_PASSWORD=RGIoT
      - TOPIC_API_URL=http://web:8000/api/mqtt/active-topics/
      - PG_CONN=postgres://boreas_user:boreas_password@db:5432/boreas_db?sslmode=disable
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
    tmpfs:
      - /tmp:size=100m
    networks:
      - boreas_net
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    restart: always
    environment:
      - TZ=Europe/Madrid
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./rules.yml:/etc/prometheus/rules.yml
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=1d"
      - "--storage.tsdb.retention.size=2GB"
    networks:
      - boreas_rgiot_default
      - boreas_net

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: always
    networks:
      - boreas_rgiot_default
      - boreas_net

  alertmanager:
    image: prom/alertmanager:latest
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"
    restart: always
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--web.external-url=http://82.165.142.98:9093'
    networks:
      - boreas_rgiot_default

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    restart: always
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana_prometheus_datasource.yaml:/etc/grafana/provisioning/datasources/prometheus.yaml
      - ./grafana_postgres_datasource.yaml:/etc/grafana/provisioning/datasources/postgres.yaml
      - ./grafana_dashboard_provision.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./grafana_dashboard_iaq_measures.json:/etc/grafana/provisioning/dashboards/grafana_dashboard_iaq_measures.json
      - ./grafana_dashboard_gadgets.json:/etc/grafana/provisioning/dashboards/grafana_dashboard_gadgets.json
      - ./grafana_dashboard_docker_cadvisor.json:/etc/grafana/provisioning/dashboards/grafana_dashboard_docker_cadvisor.json
    networks:
      - boreas_rgiot_default
      - boreas_net


volumes:
  grafana-data:

networks:
  boreas_rgiot_default:
  boreas_net:
    external: true
