groups:
- name: boreas_alert_rules
  rules:
  - alert: FamiliesNoMessage
    expr: families_no_message_count > 0
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Some device families have not received messages in the last hour."
      description: "families_no_message_count is {{ $value }}. Check device connectivity."

  - alert: FamilyTimeout
    expr: family_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for device family"
      description: "No messages received for family {{ $labels.family }} in the last hour."

  - alert: MQTTTopicTimeout
    expr: mqtt_topic_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for MQTT topic"
      description: "No messages received for topic {{ $labels.topic }} in the last {{ $value }} minutes."

  - alert: MQTTMonitoredTopicTimeout
    expr: mqtt_topic_monitored_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for monitored MQTT topic"
      description: "No messages received for monitored topic {{ $labels.topic }} in the last {{ $value }} minutes."

  - alert: SigfoxDeviceTimeout
    expr: sigfox_device_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for Sigfox device"
      description: "No messages received for Sigfox device {{ $labels.device_id }} in the last hour."

  - alert: WirelessLogicSIMTimeout
    expr: wirelesslogic_sim_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for WirelessLogic SIM"
      description: "No sync for WirelessLogic SIM {{ $labels.iccid }} in the last hour."

  - alert: DatadisSupplyTimeout
    expr: datadis_supply_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for Datadis supply"
      description: "No sync for Datadis supply {{ $labels.cups }} in the last hour."

  - alert: AemetStationTimeout
    expr: aemet_station_timeout == 1
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "Timeout for AEMET station"
      description: "No data received for AEMET station {{ $labels.station_id }} in the last 2 hours."


# Docker/cAdvisor Alerts
  - alert: DockerContainerStopped
    expr: count by (container_label_com_docker_swarm_service_name, container) (container_last_seen{container_label_com_docker_swarm_service_name!="", container_state!="running"}) > 0
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "Docker container stopped"
      description: "Container {{ $labels.container }} is not running."

  - alert: DockerUnusedContainers
    expr: count by (container) (container_last_seen{container_state="exited"}) > 0
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "Unused Docker containers detected"
      description: "There are exited containers that may be cleaned up."

  - alert: DockerDiskUsageHigh
    expr: sum(container_fs_usage_bytes) by (instance) / sum(container_fs_limit_bytes) by (instance) > 0.8
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Docker disk usage high"
      description: "Docker disk usage is above 80% on instance {{ $labels.instance }}."
